# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual Environments
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# OS temporary files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
